*{
  padding: 0;
  margin: 0;
}


nav{
  display:flex;
  gap: 34px;
  background-color: #000;
  color: white;
  
}

li{
  list-style: none;
  padding: 23px;
}
a li{
  color: #fff;
}

.red{
  background-color: red;
  color: #ffff;
}

